@charset "UTF-8";

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition-duration: 0s !important;
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    font-family: 'Segoe UI', Arial, BlinkMacSystemFont, -apple-system, system-ui, sans-serif;
    margin: 0;
}

h1, p {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 180px;
    row-gap: 14px;
    width: 100%;
}

button {
    background-color: #4169e1;
    border-radius: 18px;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    width: 100%;
}

button:hover {
    background-color: rgb(65, 105, 225, .8);
}

button:focus, button:active {
    outline: 2px solid #00f;
}